tuple properties
1. Immutable
2. Ordered DataType
3. Duplicate items are allowed
4. Tuples are enclosed by parenthesis >> ()
5. Tuple items are comma seperated
6. DataTypes : int, float, complex, list, tuple, str, dict, series, df,etc

tuple function
1. count()
2. index()

In [ ]:
# indexing and sclicing
tuple1 = (2,3,6,7,8,10)
tuple1[0]
tuple1[3]

tuple1 = (2,3,6,7,8,10)
print(tuple1[1:4])
print(tuple1[-5:-2])
print(tuple1[1:-2])
print(tuple1[-5:4])
print(tuple1[1:4:1])
print(tuple1[-5:-2:1])
print(tuple1[1:-2:1])
print(tuple1[-5:4:1])

In [ ]:
# how to create tuple
tuple1 = (2,3,4,6)

t1 = (10,) # tuple with 1 item notice , at end is must
print(var1)
type(var1)

x = 100,200,300,400 #also tuple 
x

x=tuple((1,2,3))
print(type(x))

In [ ]:
# index()
tuple1 = (2,3,4,5,5,7)
tuple1.index(4)

tuple1 = (2,3,4,5,5,7,5)
index_list = tuple([i for i,val in enumerate(tuple1) if val == 5 ])
index_list

In [ ]:
# count()
# --tuple.count(val)
tuple1 = (10,20,30,40,25,25,50,25,25,60)
tuple1.count(10)

In [ ]:
# sorted()
tuple1 = (10,20,30,40,25,25,50,25,25,60)
sorted_tuple = tuple(sorted(tuple1))
sorted_tuple

In [ ]:
# reversed()
tuple1 = (10,20,30,40,25,25,50,25,25,60)
reversed_tuple = tuple(reversed(tuple1))
reversed_tuple

In [ ]:
# min()
tuple1 = (10,20,30,40,25,25,50,25,25,60)
min(tuple1)

In [ ]:
# max()
tuple1 = (10,20,30,40,25,205,50,25,25,60)
max(tuple1)

In [ ]:
# sum()
tuple1 = (10,20,30,40,25,205,50,25,25,60)
sum(tuple1)

In [ ]:
# deepcopy()
import copy 

tuple1 = (2,3,4,[10,20,30,40],6)
tuple2 = copy.deepcopy(tuple1)
tuple2[3][-1] = 4000
print(tuple1)
print(tuple2)