Properties-->
--It is a collection of key and value pairs
1. Mutable 
2. Ordered/Unordered
3. Indexing is not allowed
4. Keys can not be duplicate
5. Values can be duplicate
6. Dictionary are enclosed by {}, 
7. We can initialize dictionary by using {} or dict()

Key >> Immutable (int, float, str, tuple, frozenset, complex)
Values >> Any DataType(mutable or immutable):
    (int, float, str, tuple, frozenset, complex,list, set, dict)

Ordered   : Python version >= 3.7
Unordered : Python version < 3.7  (Python2.7, Python 3.5, python 3.6)
    
Syntax :
    d1 = {key : Value}
    
functions-->
1. get()
2. keys()
3. values()
4. items()
5. update()
6. pop()
7. popitem()
8. clear()
9. fromkeys()
10. setdefault()
11.copy()

In [1]:
dict1 = {'a':97,'b':98,'c':99, 'a':100,'b':200}
print(dict1)
dict1['c']

{'a': 100, 'b': 200, 'c': 99}

99

In [ ]:
# we cannot use mutable data type in key of dict
dict2 = {[1,2,3,4]:[1,4,9,16]}
dict2 #-->invalid as list is mutable used in key
dict3 = {{1,2,3,4}:[1,4,9,16]}
dict2 #-->vaild as tuple is immutable

In [2]:
# get()
# --dict.get('Key')
# --Return None : If key is not present
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1.get("A")
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
x=dict1.get("a")
print(x)

None

In [ ]:
# keys()
# --returns all keys from dict
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
list(dict1.keys())

dict2 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
x = list(dict2.keys())
print(x)
for key in x: 
    print("Key is :",key)

In [ ]:
# values()
# --return all values from dict
employee_details = {"Name":"Suraj",
                   "Age":28,
                   "Designation": "Data Scientist",
                   "Salary" : 80000}

employee_details.values()

for val in employee_details.values():
    print("Value is :",val)

In [1]:
# items()
# --dict.items()
# --Return key and values of dictionary
employee_details = {"Name":"Suraj",
                   "Age":28,
                   "Designation": "Data Scientist",
                   "Salary" : 80000}

employee_details.items() # returns list of tuples containing key and value(key,value)
for key, value in employee_details.items():
    print(key, value)

dict_items([('Name', 'Suraj'), ('Age', 28), ('Designation', 'Data Scientist'), ('Salary', 80000)])

In [5]:
# to access items in dict using for loop
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}
for key in employee_details:
    print(key,employee_details[key])

Name Suraj
Age 28
Designation Data Scientist
Salary 80000

In [8]:
# update()
#--dict.update({key:value})

#--Used to add two dictionaries
employee_details1 = {'Name': 'Suraj', 'Age': 28}
employee_details2 = {'Designation': 'Data Scientist', 'Salary': 80000}
employee_details2.update(employee_details1)
print(employee_details2)

# to add item in dict
employee_details1 = {'Name': 'Suraj', 'Age': 28}
employee_details1.update({'Designation': 'Data Scientist'})
print(employee_details1)

{'Designation': 'Data Scientist', 'Salary': 80000, 'Name': 'Suraj', 'Age': 28}
{'Name': 'Suraj', 'Age': 28, 'Designation': 'Data Scientist'}

In [ ]:
# pop()
# --delete item with help of key
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.pop('math')
print(result)

In [ ]:
# popitem()
# remove last added item in dict
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.popitem()
print(result)

In [ ]:
# clear()
# --dict.clear()
# --Delete all items from dictionary
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.clear()
print(result)

In [ ]:
# del keyword
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
del result['phy']
print(result)

In [ ]:
# nested dict
# --dictionary as a value in dictionary
# --We can not use dictionary object as a key in dict
employee_details =  {"TC10021": {'Name': 'Ajay',
                                 'Age': 27,
                                 'Company': 'TCS',
                                 'Designation': 'Data Analyst',
                                 'Salary': 70000,
                                 'Location': 'Pune'},
                    "TC10041": {'Name': 'Vijay',
                                 'Age': 28,
                                 'Company': 'TCS',
                                 'Designation': 'Data Scientist',
                                 'Salary': 90000,
                                 'Location': 'Mumbai'}}

employee_details
employee_details['TC10050']['Designation']

In [1]:
# fromkeys()
#-- dict.fromkeys(sequence,[val])
#-- sequence >> list , tuple, str
#-- Default value is None
list1 = ['Phy',"Che","Math","bio","Eng"]
marks = dict.fromkeys(list1,100)
marks

{'Phy': 100, 'Che': 100, 'Math': 100, 'bio': 100, 'Eng': 100}

In [3]:
# setdefault()
# --dict.setdefault(key,[val])
# --dict.setdefault(key,[val])

# we can also get values with this function just like get()
employee_details = {'Name' : "Ajay",
                   "Age": 27,
                   "Company": "TCS",
                   "Designation":"Data Analyst"
                   }
employee_details.setdefault('Designation')

# we can also use to add item in dict
employee_details = {'Name' : "Ajay",
                   "Age": 27,
                   "Company": "TCS",
                   "Designation":"Data Analyst"
                   }
employee_details.setdefault('Location','Pune')
employee_details

# imp-->we cannot update values
employee_details = {'Name' : "Ajay","Age": 27,"Company": "TCS","Designation":"Data Analyst"}
employee_details.setdefault("Age",30)
employee_details

{'Name': 'Ajay', 'Age': 27, 'Company': 'TCS', 'Designation': 'Data Analyst'}

In [ ]:
# copy()
employee_details = {'Name' : "Ajay",
                   "Age": 27,
                   "Company": "TCS",
                   "Designation":"Data Analyst"
                   }

new_dict = employee_details.copy()

new_dict['Age'] = 29
print(new_dict)
print(employee_details)

In [ ]:
# sorting

# sorting dict by keys
sub_marks = {'Phy': 92, 'Che': 88, 'Bio': 93, 'Eng': 91, 'Math': 95}

result = {}
for sub in sorted(sub_marks.keys()):
    result.update({sub:sub_marks[sub]})
print(result)

# sorting dict by values
sub_marks = {'Phy': 93, 'Che': 88, 'Bio': 93, 'Eng': 91, 'Math': 95}
result = {}
for marks in sorted(sub_marks.values()):
    for sub in sub_marks:   
        if marks == sub_marks[sub] and sub not in result:  
            result.update({sub:marks})
            break
result

In [2]:
# dict comprehension
cube = {i:i**2 for i in range(2,30) if i%2 == 0 }
cube

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400,
 22: 484,
 24: 576,
 26: 676,
 28: 784}

In [ ]:
# count occurance of word
string = """We are learning Python and Data Science, Python is programming language 
            which is used in machine learning  and deep learning"""

string_list = string.split()

word_count = {}

for word in string_list:
    count = string_list.count(word)
    word_count.update({word:count})
word_count

In [1]:
a='4*5-3'
eval(a)

17

In [2]:
x=lambda a,b:a/b
x(10,2)

5.0