In [11]:
# zip()
# we can use any iterables like string,list,tuple

# --------------------------------------------------------------------------------------------
# we can use multiple list or string or tuple but we can have output in list and tuple only
players_name = ['Virat','Rohit','Dhoni','Kartik'] #we can use list,tuple,string
age = [35,36,40,37] #we can use list,tuple,string
x="1234"
list(zip(x,players_name,age))
# [('1', 'Virat', 35),('2', 'Rohit', 36),('3', 'Dhoni', 40),('4', 'Kartik', 37)]

# tuple(zip(players_name,age,x))

# # if we want output in dict we can use only 2 variables as dict contain key:value pairs
# players_name = ['Virat','Rohit','Dhoni','Kartik'] #we can use list,tuple,string
# age = [35,36,40,37] #we can use list,tuple,string
# dict(zip(players_name,age))

[('1', 'Virat', 35),
 ('2', 'Rohit', 36),
 ('3', 'Dhoni', 40),
 ('4', 'Kartik', 37)]

In [8]:
# filter()
# we can filter values based on pirticular function
# syntax-->  filter(function , iterable)
# this inner function is applied on each iten of iterable and values are filtered
l1=[1,2,3,4,5,6]
even=list(filter(lambda x : x%2==0,l1))
odd=list(filter(lambda x : x%2 !=0,l1))
print(even)
print(odd)

string = 'Python and Data Science'
upper=list(filter(lambda x : x.isupper(),string))
print(upper)

list2 = ["Monday",'Tuesday', "Wednesday", "Thursday","Friday","Saturday","Sunday"]
list3 = list(filter(lambda x : len(x)==6,list2))
print(list3)

list11=["abhi","kale","abhishek"]
list21= list(map(lambda x : x.upper(),list11))
print(list21)

[2, 4, 6]
[1, 3, 5]
['P', 'D', 'S']
['Monday', 'Friday', 'Sunday']
['ABHI', 'KALE', 'ABHISHEK']

In [24]:
# map()
# syntax--> map(function, iterables)
# -->The map() function executes a specified function for each item in an iterable. 
#    The item is sent to the function as a parameter.

string = 'Python'
upper_char = list(map(lambda x : x.upper(), string))
print(upper_char)

list1 = [3,1,2,5,6,7,8,9,10]
odd_list = list(map(lambda x : x%2 != 0,list1 ))
odd_list

list1 = [3,1,2,5,4]
list2 = [7,8,9,10]
result = list(map(lambda x,y: x+y,list1,list2 )) # here function is lambda and list1 and list2 are iertable
result

s1="abhi"
s2="kale"
result = "".join(list(map(lambda x,y : x+y,s1,s2)))
result

['P', 'Y', 'T', 'H', 'O', 'N']

'akbahlie'

In [18]:
# all()
# all(iterable)
# True /False

# True >> If all elements are True(except 0 and False)
# True >> If iterable is empty

all([]) #-->true
all([1,2,3,4,5]) #-->true
all([0,0,0,0]) #->false as all element are 0 or false
all([1,0,2]) #-->if any one vlue is 0 or false ans will be false
all({0:100, 12 :144, 15:225}) #flase--> as in dict we use keys

False

In [ ]:
# any()
any(iterable)
True /False

True >> If any element is True
True >> If iterable is not empty

False >> if all elements are 0 or false
False >> if iterable is empty

In [ ]:
# chr()--> gives chr for ascii value
# ord()--> gives ascii value for char or element

In [ ]:
# bin()-->to convert to binary formt 
# format()-->convert int to diff format and gives result in str
# format(10,"b")--->to get bin output without 0b 
# format(10,"f")--->to get float output

In [ ]:
# input()
# to take input from user and it is in str form

In [22]:
# evel()-->used to convert str to proper format or to solve expression in str form
eval("1.2")#-->1.2
eval("100")#-->100
eval("2+2/2")#-->3.0

3.0

In [28]:
# important how to create list or tuple by taking input from user
list(eval(input())) #creat list by passing comma seperated values
# we can make list or tuple

1,2,3,4,5

[1, 2, 3, 4, 5]

In [ ]:
# abs()
# gives absolute values

In [31]:
# round(value,digits to round)
round(3.147,2) #5 or above 5 makes to next value 3.1444-->3.14  and 3.14789-->3.15

3.15

In [2]:
# pow(value,power)
pow(5,2)
# divmod(value1,value2)
divmod(22,5)

(4, 2)

In [37]:
# iter()-->used to iterate sequence
s1="python"
i=iter(s1)
# next()-->used to print nect value in sequence after appling iter
x=next(i)
print(x)
y=next(i)
print(y)

p
y