## list properties

1. Mutable-->we can make changes in list
2. Duplicates are allowed-->[1,1,2,3,3]-->valid
3. Ordered Datatype-->each value is having perticular index
4. enclosed by []-->[1,2,3,4,'python']
5. Comma seperated-->each item in list is comma seperated[1,2,3]

## list functions

List Functions:
    1. append()-->syntax-->list1.append(value)
    2. extend()-->syntax-->list1.extend(value)
    3. insert()-->syntax-->list1.insert(index,value)
    4. remove()-->syntax-->list1.remove(value)
    5. pop()-->syntax-->list1.pop(index)-->if we do not pass index it will remove last item in list
    6. clear()-->list1.clear()-->removes all item from list
    7. index()-->list1.index(value)-->gives index of perticular value(if same values are repeated gives index of 1st
                 occurance
    8. count()-->list1.count(value)-->count of perticular value
    9. copy()-->copy list1 to list2 
    --here if we modify list1 it will not make changes in list2
    --but if we use same in nested if it will fail and make changes in both to avoid this use deepcopy
      to use deepcopy import copy and then use deepcopy
    10. sort()-->syntax-->list1.sort()
    --list1.sort() or list1.sort(reverse=false)-->sort in ascending order
    --list1.sort(reverse=true)-->sort in descending order
    --list1=[1,2,3,"python"]--we cannot sort such list
    --list1=["python","Data","dat","Python"]--first capital are sorted and then small-case
    11. reverse()-->syntax-->list1.reverse() or list1=list1[::-1]

Built in Functions:
    1. sorted()-->syntax-->sorted(list1)--we need to assign variable to print
    2. reversed()-->syntax-->reversed(list1)--we need to assign variable to print
    3. max()-->syntax-->max(list1)-->return max value from list
           if list1=[1,2,3,"python"] we cannot use max function
    4. min()-->syntax-->mix(list1)-->return mix value from list
           if list1=[1,2,3,"python"] we cannot use min function
    5. sum()-->syntax-->sum(list1)-->return sum of all values
    
del keyword-->del is not function but is keyword 
    del string --will delete string variable
    del list1--will delete list1
    del list1[1]--will delete value at 1 index from list1

In [17]:
list1=["Python","python"]
list1.sort()
list1

['Python', 'python']

In [ ]:
## append and extend functions

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
# list1.append(list2) #o/p will be list1=[1,2,3,[4,5,6]] and list2=[4,5,6]
# list1.extend(list2) # o/p will be list1=[1,2,3,4,5,6] and list2=[4,5,6]
print(list1)
print(list2)

In [ ]:
## insert()

In [20]:
l1=[1,2,3]
l1.insert(1,'ptyhon')
l1

[1, 'ptyhon', 2, 3]

In [ ]:
## remove()

In [21]:
l1=[1,2,3]
l1.remove(3)
l1

[1, 2]

In [ ]:
## pop()

In [22]:
l1=[1,2,3,4,5]
l1.pop(2) #removes 2nd index value
l1.pop() #removes last index value as index is not mentioned
l1

[1, 2, 4]

In [ ]:
## clear()

In [23]:
l1=[1,2,3]
l1.clear()
l1

[]

In [ ]:
## del keyword(impportant)

In [26]:
string="python"
del string #--will delete string variable
string1

list1=[1,2,3]
del list1 #--will delete list1
list

list2=[1,2,3]
del list2[1] #--will delete value at 1 index from list1
list2

[1, 3]

In [32]:
## swap 1st and last cahr program logic

In [ ]:
s1="python"
s1=list(s1)
s1[0],s1[-1]=s1[-1],s1[0]
s1=''.join(s1)
print(s1)

l1=[1,2,3,4]
l1[0],l1[-1]=l1[-1],l1[0]
l1

In [ ]:
## index()

In [38]:
l1=['a','b','c']
l1.index("a")

#-----------------to print index along with city name----------------------------
city_names = ['Pune', 'Mumbai', 'Delhi',  'Mumbai', 'Chennai', 'Bangalore' ,'Mumbai',  'Mumbai',  'Mumbai', ]
        #by using index we get index of 1st occurance only to get index of duplicate iten we use below code
for index,city in enumerate(city_names):
    print(index,city)
    
#-----------------to find index of all Mumbai-------------------------------------    
city_names = ['Pune', 'Mumbai', 'Delhi',  'Mumbai', 'Chennai', 'Bangalore' ,'Mumbai',  'Mumbai',  'Mumbai', ]
for index,city in enumerate(city_names):
    if city=="Mumbai":
        print(index,city)

1 Mumbai
3 Mumbai
6 Mumbai
7 Mumbai
8 Mumbai

In [ ]:
## count()

In [39]:
l1=[1,2,3,3,4,4,4,4,4]
l1.count(4)

5

In [50]:
# word count program
l1="this is python and python is language"
l1=l1.split()
l2=[]
for word in l1:
    if word not in l2:
        l2.append(word)
        count=(l2.count(word))
        print(f"count of {word} == {count}")

count of this == 1
count of is == 1
count of python == 1
count of and == 1
count of language == 1

In [ ]:
## copy()

In [54]:
#----------------shallow copy in case of normal list-------------
#if we make changes in l1 it will not reflect in l2
l1=[1,2,3]
l2=l1.copy()
l1.append(4)
print(l1)
print(l2)

#-------------in case of nested list------------------
#here as list is nested we face below problem so we need to import copy
l1=[1,2,3,[4,5,6]]
l2=l1.copy()
l1[3][1]=5000
print("l1", l1)
print("l2", l2)

import copy
l1 = [1,2,3,[4,5,6]] 
l2 = copy.deepcopy(l1) # deep copy from import copy
l1[3][1] = 5000
print("L1 :",l1)
print("L2 :",l2)

L1 : [1, 2, 3, [4, 5000, 6]]
L2 : [1, 2, 3, [4, 5, 6]]

In [ ]:
## sort()

In [58]:
l1=[11,9,20,200,111]
l1.sort() #-->ascending order
print(l1)
l1.sort(reverse=True) #-->descending order
print(l1)

l2=["D","b","a","z","A","Z"]
l2.sort() #ascending order A<Z<a<z
print(l2)
l2.sort(reverse=True) #decending order z>a>Z>A
print(l2)

l3=[1,2,3,"a","b"]
l3.sort() #we cannot sort list containing diff datatype like int and str
print(l3)

[9, 11, 20, 111, 200]
[200, 111, 20, 11, 9]
['A', 'D', 'Z', 'a', 'b', 'z']
['z', 'b', 'a', 'Z', 'D', 'A']

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
## reverse()

In [62]:
l1=[1,2,3,"a","b"]
l1.reverse()
print(l1)

l2=[1,2,3,"a","b"]
print(l2[::-1]) # using slicing

['b', 'a', 3, 2, 1]
['b', 'a', 3, 2, 1]

In [ ]:
## built in function of list data type

In [ ]:
## sorted()

In [66]:
l1=[1,2,1,8,3]
print(l1)
l2=sorted(l1) #while using in built function assigning variable is important
print(l2)
l3=sorted(l1,reverse=True) #reverse soritng
print(l3)

[1, 2, 1, 8, 3]
[1, 1, 2, 3, 8]
[8, 3, 2, 1, 1]

In [ ]:
## reversed()

In [68]:
l1=[1,2,3,4,3]
l2=list(reversed(l1))
print(l2)

[3, 4, 3, 2, 1]

In [ ]:
## max min sum

In [69]:
l1=[1,2,11,33,4444,0]
print(max(l1))
print(min(l1))
print(sum(l1))

4444
0
4491

In [2]:
## assign 1 que 24
s1="python and data science"
s2=''
for i in s1:
    if i not in s2:
        s2=s2+i
    else:
        print(f"{i} is first repeted cahr of string")
        break

n is first repeted cahr of string

# list comprehension
Syntax :
    
new_list = [expressions for var in sequence]
new_list = [expressions for var in sequence if condition == True]
new_list = [short-hand if-else expression for var in sequence]
new_list = [[for var2 in sequence2] for var1 in sequence1]

In [ ]:
list1 = [3,4,5,6,7,8]
cube_list = [1000 for i in list1]
cube_list

In [ ]:
string = 'Python'
new_list = [char.upper() for char in string]
new_list

In [ ]:
list1 = [3,4,5,6,7]
list2 = [10,20,30,40,50]
new_list = [val + list2[index] for index,val in enumerate(list1) ]
new_list

In [ ]:
days_list = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
new_list = [day for day in days_list if len(day) == 6]
new_list

In [ ]:
matrix = [ [j for j in range(3,6)] for i in range(4)]
matrix