In [ ]:
Properties-->

1. Mutable >> Changable
2. Unordered >> we can not use indexing and slicing
3. Duplicates are not allowed
4. Enclosed by {}
5. Initialize with set()
6. Sets item are comma seperaed
7. We can add only Immutable items in set data type

In [ ]:
set functions-->
1. add()
2. update()
3. union()
4. remove()
5. discard()
6. pop()
7. clear()
8. issubset()
9. issuperset()
10. isdisjoint()
11. intersection()
12. intersection_update()
13. difference()
14. difference_update()
15. symmetric_difference()
16. symmetric_differance_update()

In [1]:
# add()
# --Used to add only one item in set 
set1 = {3,5,2,8,9}
set1.add(4)
set1

set1 = {3,5,2,8,9}
set1.add((3,4,5))
set1

{(3, 4, 5), 2, 3, 5, 8, 9}

In [2]:
# update()
set1 = {3,4,5,6,7,7} # 5
set2 = {1,2,10,20,20,30} # 5
set2.update(set1) #set removes duplicate values
set2

{1, 2, 3, 4, 5, 6, 7, 10, 20, 30}

In [1]:
# union()
s1 = {3,4,5,6,7}
s2 = (5,6,7,8,9,10)
s3 = [7,10,20,30,40]
s4 = [7,10,204,304,40]
new_set = s1.union(s2,s3,s4)
print('set1',s1)
print('set2',s2)
print('set3',s3)
print("new set :",new_set,len(new_set))

set1 {3, 4, 5, 6, 7}
set2 (5, 6, 7, 8, 9, 10)
set3 [7, 10, 20, 30, 40]
new set : {3, 4, 5, 6, 7, 8, 9, 10, 204, 20, 30, 40, 304} 13

In [ ]:
# remove()-->we need to pass value and if value is not present it returns error
set1 = {3,4,5,6,7,5,5,10}
set1.remove(5)
set1

set1 = {3,4,5,6,7,5,5,10}
set1.remove(50)
set1

In [ ]:
# discard()-->we need to pass value and if value is not present it does not give error
set1 = {3,4,5,6,7,5,5,10}
set1.discard(56)
set1

In [ ]:
# pop()
# --deletes random item from set
set1 = {3,4,5,6,7,5,5,10}
set1.pop()
print(set1)

In [1]:
# clear()
# --removes all items from set
set1 ={3,4,5,6,7,7,7,8}
set1.clear()  # set()
set1 #output will be set()

set()

In [4]:
# intersection()
# --set1.intersection(values) # val1,val2,..,valN
# --values >> val1,val2,..,valN
# --data type of variable should be >> set, list, tuple
set1 = {2,4,5,6,7,8} # 6
set2 = {6,7,8,9,10,11} # 7
set3 ={3,4,5,6,7,7,7,8}

intersected_items = set1.intersection(set2,set3)
print("Set1 :",set1)
print("Set2 :",set2)
print("intersected_items :",intersected_items)

Set1 : {2, 4, 5, 6, 7, 8}
Set2 : {6, 7, 8, 9, 10, 11}
intersected_items : {8, 6, 7}

In [3]:
# intersection_update()
# can take multiple arguments
set1 = {2,4,5,6,7,8} # 6
set2 = {2,6,7,8,9,10,11} # 7
set3 = {6,2,71,81,91,110,11}
set1.intersection_update(set2,set3)
print("Set1 :",set1) # 3
print("Set2 :",set2) # 7

Set1 : {2, 6}
Set2 : {2, 6, 7, 8, 9, 10, 11}

In [5]:
# differance()
# --set1.difference(set2,set3,set4)
# --It is used to find unique items from sets
set1 = {2,4,5,6,7,8} # 6
set2 = {6,7,8,9,10,11} # 7
set3 ={3,4,5,6,7,7,7,8}

set4 = set1.difference(set2,set3)
print("Set1 :",set1) # {2,4,5,6,7,8}
print("Set2 :",set2) # {6,7,8,9,10,11}
print("set3 :",set3) # {2,4,5}
print(set4)

Set1 : {2, 4, 5, 6, 7, 8}
Set2 : {6, 7, 8, 9, 10, 11}
set3 : {3, 4, 5, 6, 7, 8}
{2}

In [2]:
# differance_update()
set1 = {2,4,5,6,7,8} # 6
set2 = {6,7,8,9,10,11} # 7

set2.difference_update(set1)
print("Set1 :",set1) # {2,4,5}
print("Set2 :",set2) # {6,7,8,9,10,11}

Set1 : {2, 4, 5, 6, 7, 8}
Set2 : {9, 10, 11}

In [3]:
# symmetric_differance() it takes only 2 arguments and original sets remains as it is.
set1 = {2,4,5,6,7,8} # 6
set2 = {6,7,8,9,10,11} # 7
set3 ={3,4,5,6,7,7,7,8}

result = set1.symmetric_difference(set2) #valid
# result = set1.symmetric_difference(set2,set3) #invalid gives error
print("Set1 :",set1)
print("Set2 :",set2) 
print("result :",result)

Set1 : {2, 4, 5, 6, 7, 8}
Set2 : {6, 7, 8, 9, 10, 11}
result : {2, 4, 5, 9, 10, 11}

In [4]:
# symmertic_differance_update()
set1 = {2,4,5,6,7,8} # 6
set2 = {6,7,8,9,10,11} # 7
s2 = {4,5,6}
set1.symmetric_difference_update(set2) #valid as it takes only one argument
# set1.symmetric_difference_update(set2,s2) #invalid as it takes only one argument
print("Set1 :",set1) # 
print("Set2 :",set2)

Set1 : {2, 4, 5, 9, 10, 11}
Set2 : {6, 7, 8, 9, 10, 11}

In [4]:
# issuperset()
s1 = {2,3,4,5,6,7,8}
s2 = {4,5,6}

s1.issuperset(s2)

True

In [11]:
# issubset() takes one arg
s1 = {2,3,4,5,6,7,8}
s2 = {4,5,6}
s3 = {10,20,30}

s2.issubset(s1)

True

In [13]:
# isdisjoint() takes one arg
s1 = {2,3,4,5,6,7,8}
s2 = {10,20,30}
s3 = {4,5,6}

s1.isdisjoint(s2)

True

# Frozenset()
properties-->
1. Immutable >>we can not update frozenset
2. Unordered
3. Duplicate items are not allowed
4. We can add only immutable items
5. cannot use indexing and sclicing

#Frozenset functions
1. union()
2. intersection()
3. difference()
4. symmetric_difference()
5. issuperset()
6. issubset()
7. isdisjoint()

In [ ]:
fs1 = frozenset((3,4,5,5,6,7))
print(fs1,type(fs1))

In [5]:
# union()
var1 = frozenset({3,4,5,5,6} )
var2 = frozenset([1,7,8,9,9])
result = var1.union(var2)
result

frozenset({1, 3, 4, 5, 6, 7, 8, 9})

In [5]:
# intersection()
var1 = frozenset({3,4,5,5,6} )
# var2 = frozenset([1,7,8,9,6])
var2 = [1,7,8,9,6]

result = var1.intersection(var2)

print("Var1 :",var1)
print("Var2 :",var2)
print("Result :",result)

Var1 : frozenset({3, 4, 5, 6})
Var2 : [1, 7, 8, 9, 6]
Result : frozenset({6})

In [6]:
# difference()
var1 = frozenset({3,4,5,5,6} )
var2 = frozenset([1,7,5,8,9,6])

result = var1.difference(var2)

print("Var1 :",var1)
print("Var2 :",var2)
print("Result :",result)

Var1 : frozenset({3, 4, 5, 6})
Var2 : frozenset({1, 5, 6, 7, 8, 9})
Result : frozenset({3, 4})

In [ ]:
# symmetric_difference()
var1 = frozenset({3,4,5,5,6} )
var2 = frozenset([1,7,5,8,9,6])

result = var1.symmetric_difference(var2)

print("Var1 :",var1)
print("Var2 :",var2)
print("Result :",result)

In [ ]:
# issuperset
fs1 = frozenset({3,4,5,6,10,20,30,40} )
fs2 = frozenset([3,4,5])

fs1.issuperset(fs2)

In [ ]:
# issubset()
fs1 = frozenset({3,4,5,6,10,20,30,40} )
fs2 = frozenset([3,4,5])

fs1.issubset(fs2)

In [ ]:
# isdisjoint()
fs1 = frozenset({3,4,5,6,10,20,30,40} )
fs2 = frozenset([3,4,5])

fs1.isdisjoint(fs2)